@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 

@font-face {
  font-family: 'U8';
  font-style: normal;
  font-weight: normal;
  src: local('U8 Regular'), url('/public/assets/fonts/U8-Regular.otf');
}

@font-face {
  font-family: 'U8 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('U8 Medium'), url('/public/assets/fonts/U8-Medium.otf');
}

@font-face {
  font-family: 'U8 Bold';
  font-style: normal;
  font-weight: normal;
  src: local('U8 Bold'), url('/public/assets/fonts/U8-Bold.otf');
}



body {
  font-family: 'Karla', 'U8', sans-serif;
  background: #10B259;
  color: white;
}

code {
  font-family: 'Karla', sans-serif;
}


* {
  scrollbar-width: thin;
  scrollbar-color: grey;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.412);
  border-radius: 10px;
}

.border--main {
  border-bottom: 1px solid #dcdacb;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}

input, select {
  outline: none;
  border: 1px solid#302e2e;
  padding: 0 10px;
  height: 40px;
}

.flex--1 {
  display: flex;
}

.flex--2 {
  display: flex;
  align-items: center;
}

.flex--3 {
  display: flex;
  flex-direction: column;
}

.flex--4 {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.flex--4-i {
  display: flex;
  grid-gap: 1rem;
}

.flex--5 {
  display: flex;
  justify-content: flex-end;
}

.flex--6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

button, button:focus {
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  height: 40px;
}

.pointer {
  cursor: pointer;
}


/* Navbar Styles */
.navbar {
  grid-gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navbar .piggyLogo {
  font-size: 300px;
  /* border: 2px solid red; */
  height: 45px;
  width: 180px;
}

.navbar .list--button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: .9;
      -ms-flex: .9;
          flex: .9;
}

.navbar .list--button li {
  font-size: 18px;
  line-height: 27px;
  margin: 0 2rem;
  position: relative;
  cursor: pointer;
}

.navbar .list--button li::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.navbar .list--button li:hover::after {
  width: 100%;
  opacity: 1;
}

.navbar .list--button .button--cont {
  grid-gap: 2rem;
}

.navbar .list--button .button--cont button {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  background: transparent;
  color: #FFFFFF;
}

.navbar .list--button .button--cont button:nth-child(2) {
  background-color: white;
  font-weight: bold;
  background: #FFFFFF;
  border-radius: 15px 15px 15px 0px;
  width: 115px;
  height: 50px;
  color: #10B259;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.navbar .list--button .button--cont button:nth-child(2):hover {
  background: #f8f8f8;
  position: relative;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.navbar .nav_checkbox {
  display: none;
  visibility: hidden;
  background-color: transparent;
  margin-right: 3rem;
}

.navbar .nav_button {
  height: 7rem;
  display: none;
  width: 7rem;
  position: absolute;
  top: -23px;
  right: -43px;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navbar .iconz {
  position: relative;
  margin-top: 3rem;
}

.navbar .iconz, .navbar .iconz::before, .navbar .iconz::after {
  width: 1.6rem;
  height: 2px;
  background-color: #fffbfb;
  display: inline-block;
}

.navbar .iconz::before, .navbar .iconz::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar .iconz::before {
  top: -.5rem;
}

.navbar .iconz::after {
  top: .5rem;
}

.navbar .nav_checkbox:checked + .nav_button .iconz {
  background-color: transparent;
}

.navbar .nav_checkbox:checked + .nav_button .iconz::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar .nav_checkbox:checked + .nav_button .iconz::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media only screen and (max-width: 1000px) {
  .navbar .nav_button {
    display: block;
  }
  .navbar .list--button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    border: 1px solid white;
    padding: 2rem;
    background: #10B259;
    width: 100%;
    top: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 100;
    border-bottom: 1px solid #dcdacb;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    display: none;
    border-radius: 10px;
  }
  .navbar .list--button ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .list--button .button--cont {
    margin-top: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar .list--button .button--cont button {
    font-size: 16px;
    border: 2px solid white;
    width: 120px;
    border-radius: 5px;
  }
  .navbar .list--button .button--cont button:nth-child(2) {
    font-weight: 400;
    height: 40px;
  }
  .navbar .list--button li {
    font-size: 18px;
    line-height: 27px;
    margin: 5px 0rem;
    position: relative;
    cursor: pointer;
  }
  .navbar .list--button li::after {
    background-color: transparent;
  }
  .navbar .list--button li:hover {
    color: #fffbfb;
  }
  .navbar .nav_checkbox:checked ~ .list--button {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .navbar .list--button {
    padding: 2rem 1rem;
  }
}
/*# sourceMappingURL=Navbar.css.map */


/* Body styles */
.body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8rem 0 0;
}

.body .section--1 h1 {
  font-family: 'U8 Bold';
  font-style: normal;
  font-size: 52px;
  line-height: 65px;
  width: 390px;
}

.body .section--1 .first--p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 1rem 0 3rem;
}

.body .section--1 button {
  width: 175px;
  height: 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 20px rgba(55, 196, 115, 0.07);
          box-shadow: 5px 10px 20px rgba(55, 196, 115, 0.07);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #10B259;
  border-radius: 15px 15px 15px 0;
  margin-bottom: 7rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.body .section--1 button:hover {
  background: #f8f8f8;
  position: relative;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.body .section--1 .h4--p {
  grid-gap: 4rem 5rem;
  max-width: 400px;
}

.body .section--1 .h4--p div {
  width: 150px;
  white-space: nowrap;
}

.body .section--1 .h4--p div h4 {
  font-family: 'U8 Bold';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0 0 7px;
}

.body .section--1 .h4--p div p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.body .img .img--main {
  width: 100%;
  font-size: 650px;
  position: relative;
  right: -4rem;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-animation: bounce 2s ease-in-out infinite alternate;
          animation: bounce 2s ease-in-out infinite alternate;
}

.body .img .img--main:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .body {
    margin: 8rem 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body .section--1 h1 {
    width: 100%;
  }
  .body .section--1 .h4--p {
    grid-gap: 4rem 5rem;
    max-width: 901px;
  }
  .body .img .img--main {
    margin-top: 6rem;
    position: relative;
    right: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation: bounce 2s ease-in-out infinite alternate;
            animation: bounce 2s ease-in-out infinite alternate;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    margin: 4rem 0 0;
  }
  .body .section--1 h1 {
    font-style: normal;
    font-size: 30px;
    line-height: 65px;
    width: 333px;
  }
  .body .section--1 button {
    width: 159px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    color: #10B259;
    border-radius: 15px 15px 15px 0;
    margin-bottom: 5rem;
  }
  .body .section--1 .first--p,
  .body .section--1 .h4--p div p,
  .body .section--1 .h4--p div h4 {
    font-size: 16px;
  }
  .body .section--1 .h4--p {
    grid-gap: 2rem;
    width: 100%;
  }
}
/*# sourceMappingURL=Body.css.map */